@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.App {
  text-align: center;
  font-family: 'VT323';
}
.BitQuestHeader{
  font-family: 'VT323';
  text-align: center;
}

.login_formContainer{
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  font-family: 'VT323';
  text-align: center;
}