@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
  background-color: #E6BA95;
}
/* rows and columns */
.row {
  margin: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  margin: 1vh;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.App {
  text-align: center;
  font-family: 'VT323';
}
.BitQuestHeader{
  position: fixed;
  margin: 5px auto 0 auto;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'VT323';
  font-size: 2vw;
  text-align: center;
}

/* Login stylings */
.login_formContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E6BA95;
  font-family: 'VT323';
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.login_formContainer h2{
margin-top: 10vh;
}

.login_formFieldsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323';
  text-align: center;
  width: 15vw;
}

.login_formFields{
  text-align: center;
  margin-bottom: 3vh;
  border-radius: 15px;
  background-color: #FAFDD6;
  font-family: 'VT323';
  height: 4.5vh;
  width: 15vw;
  border: none;
}

.login_button{
  background-color: #A2B38B;
  border: none;
  border-radius: 3px;
  font-family: 'VT323';
  font-size: 12px;
  height: 4vh;
  width: 5vw;
  padding: 5px;
}

.login_footer{
  position: fixed;
  bottom: 0;
  height: 30vh;
  width: 100vw;
  
}

/* Sign Up Stylings */
.signUp_formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E6BA95;
  font-family: 'VT323';
  text-align: center;
}

.signUp_formContainer h2{
  margin-top: 10vh;
  }
  
  .signUp_formFieldsContainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    font-family: 'VT323';
    text-align: center;
    width: 15vw;
  }
  
  .signUp_formFields{
    text-align: center;
    margin-bottom: 3vh;
    border-radius: 15px;
    background-color: #FAFDD6;
    font-family: 'VT323';
    height: 4.5vh;
    width: 15vw;
    border: none;
  }
  
  .signUp_button{
    background-color: #A2B38B;
    border: none;
    border-radius: 3px;
    font-family: 'VT323';
    font-size: 12px;
    height: 4vh;
    width: 5vw;
    padding: 5px;
  }
  
  .signUp_footer{
    height: 30vh;
    width: 100vw;
    margin-top: 10vh;
  }

/* intro stylings */

.intro_container{
  background-color: #A2B38B;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  padding-top: 100px;
}

.intro_classHeader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-family: 'VT323';
}

.intro_classHeader h2{
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.intro_classListContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 8vh;
}

.intro_classListButton{
  margin-right: 15px;
  border: none;
  height: 6vh;
  font-family: 'VT323';
  font-size: 40px;
  background-color: #A2B38B;
  padding: 5px;
}

.intro_classListButton:hover{
  border-bottom: solid 3px #FBFF4F;
  color: #FBFF4F;
}
.intro_classListButtonActive{
  margin-right: 15px;
  border: none;
  height: 6vh;
  font-family: 'VT323';
  font-size: 40px;
  background-color: #A2B38B;
  padding: 5px;
  border-bottom: solid 3px #FBFF4F;
  color: #FBFF4F;
}

.intro_classInfoContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.intro_classImg{
  height: 55vh;
  width: 20vw;
  border-radius: 5px;
  background-color: #FAFDD6;
}

.intro_classStatsContainer{
  width: 55vw;
  height: 55vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #E6BA95;
  font-family: 'VT323';
}

.intro_classStatsContainer p{
 width: 100%;
 text-align: center;
 color: white;
 opacity: 0.8;
}

.intro_classStatsHeader {
  font-size: 28px;
}
.intro_classStatsInfo{
  font-size: 35px;
  width: 100%;
}

.intro_classStatBlock p{
  /* border: 1px black solid; */
  color: black;
  width: 150px;
  margin-left: 15px;
  font-weight: bolder;
  text-align: left;
  padding-left: 25px;
}

.intro_classStatBlock{
  width: 50%;
  height: 100%;
}

.intro_classStatBlock span{
  padding-left: 6rem;
}
.intro_classStatBlock p{
  padding-left: 4rem;
  font-size: 20px;
}
.intro_classStatBlock li{
  padding-left: 2rem;
  list-style: none;
  font-size: 20px;
  font-weight: bolder;
  
}

/* instructions component */
.instructions_container{
  background-color: #E4E9B3;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.instructions_msgDisplay{
  height: 60vh;
}
.instructions_buttonsContainer{
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.instructions_button{
  border: none;
  height: 8vh;
  font-family: 'VT323';
  font-size: 50px;
  background-color: transparent;
  padding: 5px;
}

/* message display component */
.messageDisplay_container, .messageDisplay_finalContainer{
    background-color: #E4E9B3;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}
.messageDisplay_textContainer p{
  height: 100%;
  font-family: 'VT323';
  border: 2px solid black;
}

  